<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>AuxHeader</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Master</string>
			<key>footerText</key>
			<string>BETA 2.0</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>OBSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.obumbravit.aux</string>
			<key>key</key>
			<string>AuxSwitch</string>
			<key>label</key>
			<string>Aux Enabled</string>
			<key>icon</key>
			<string>Aux.png</string>
			<key>PostNotification</key>
			<string>com.obumbravit.aux/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Style</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSDefaultCell</string>
			<key>cellClass</key>
			<string>AppearanceSelectionTableCell</string>
			<key>options</key>
			<array>
				<dict>
					<key>text</key>
					<string>Floating</string>
					<key>image</key>
					<string>AuxDefault</string>
				</dict>
				<dict>
					<key>text</key>
					<string>Bar</string>
					<key>image</key>
					<string>AuxBar</string>
				</dict>
				<dict>
					<key>text</key>
					<string>String</string>
					<key>image</key>
					<string>Aux Tiny</string>
				</dict>
			</array>
			<key>defaults</key>
			<string>com.obumbravit.aux</string>
			<key>PostNotification</key>
			<string>com.obumbravit.aux/preferences.changed</string>
			<key>key</key>
			<string>AuxStyle</string>
			<key>height</key>
			<integer>125</integer>
			<key>set</key>
			<string>setStyleValue:specifier:</string>
			<key>get</key>
			<string>getStyleValue:</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.obumbravit.aux</string>
            <key>key</key>
            <string>AuxFloats</string>
            <key>validTitles</key>
            <array>
                <string>Default</string>
                <string>Mini</string>
                <string>Expanded</string>
            </array>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
            </array>
            <key>default</key>
            <string>0</string>
            <key>PostNotification</key>
            <string>com.obumbravit.aux/preferences.changed</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>OBSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.obumbravit.aux</string>
			<key>key</key>
			<string>HoPSwitch</string>
			<key>label</key>
			<string>Hide on Pause</string>
			<key>PostNotification</key>
			<string>com.obumbravit.aux/preferences.changed</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>OBSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.obumbravit.aux</string>
			<key>key</key>
			<string>AsSwitch</string>
			<key>label</key>
			<string>Always Display Aux</string>
			<key>PostNotification</key>
			<string>com.obumbravit.aux/preferences.changed</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>OBSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.obumbravit.aux</string>
			<key>key</key>
			<string>MeSwitch</string>
			<key>label</key>
			<string>Marquee Enabled</string>
			<key>PostNotification</key>
			<string>com.obumbravit.aux/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Aux Location</string>
			<key>footerText</key>
			<string>*Only for floating styles</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSDefaultCell</string>
			<key>cellClass</key>
			<string>AppearanceSelectionTableCell</string>
			<key>options</key>
			<array>
				<dict>
					<key>text</key>
					<string>Left</string>
					<key>image</key>
					<string>AuxLeft</string>
				</dict>
				<dict>
					<key>text</key>
					<string>Middle</string>
					<key>image</key>
					<string>Aux Mini</string>
				</dict>
				<dict>
					<key>text</key>
					<string>Right</string>
					<key>image</key>
					<string>AuxRight</string>
				</dict>
			</array>
			<key>defaults</key>
			<string>com.obumbravit.aux</string>
			<key>PostNotification</key>
			<string>com.obumbravit.aux/preferences.changed</string>
			<key>key</key>
			<string>AuxLocation</string>
			<key>height</key>
			<integer>125</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Aux Bar Settings</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>OBSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.obumbravit.aux</string>
			<key>key</key>
			<string>RcBar</string>
			<key>label</key>
			<string>Rounded Corners</string>
			<key>PostNotification</key>
			<string>com.obumbravit.aux/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Aux String Settings</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>OBSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.obumbravit.aux</string>
			<key>key</key>
			<string>tinyTitleEnabled</string>
			<key>label</key>
			<string>Title Enabled</string>
			<key>PostNotification</key>
			<string>com.obumbravit.aux/preferences.changed</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>OBSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.obumbravit.aux</string>
			<key>key</key>
			<string>tinyAlbumEnabled</string>
			<key>label</key>
			<string>Album Enabled</string>
			<key>PostNotification</key>
			<string>com.obumbravit.aux/preferences.changed</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>OBSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.obumbravit.aux</string>
			<key>key</key>
			<string>tinyArtistEnabled</string>
			<key>label</key>
			<string>Artist Enabled</string>
			<key>PostNotification</key>
			<string>com.obumbravit.aux/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extras</string>
			<key>footerText</key>
			<string>❤️</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>@Obumbravit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>kofi</string>
			<key>icon</key>
			<string>kofi.png</string>
			<key>label</key>
			<string>Buy me a ☕️</string>
		</dict>
	</array>
	<key>title</key>
	<string>Aux</string>
</dict>
</plist>
